<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Choose Current Floor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body id="toMapBody" align = center>
    <div id="toMapContainer">
        <h1 id="h">Please Choose Current Floor!!</h1>
    <input onclick="toGFM()" type="button" id="gFM" value="Ground Floor">
    <input onclick="toFFM()" type="button" id="fFM" value="First Floor">
    <input onclick="toSFM()" type="button" id="sFM" value="Second Floor">
</div>
</body>
</html>